.navlink {
  width: 182px;
  height: 91px;
  left: 0px;
  top: 267px;
  background-color: #083358;
  /* background: #083358; */
}
.text {
  width: 70px;
  height: 28px;
  left: 58px;
  top: 298px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
}
